[tool.poetry]
name = "nonebot-plugin-wordcloud"
version = "0.2.0"
description = "适用于 NoneBot2 的词云插件"
authors = ["hemengyang <hmy0119@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/he0119/nonebot-plugin-wordcloud"
repository = "https://github.com/he0119/nonebot-plugin-wordcloud"
documentation = "https://github.com/he0119/nonebot-plugin-wordcloud#readme"

[tool.poetry.dependencies]
python = "^3.8"
nonebot2 = {extras = ["httpx"], version = "^2.0.0-beta.2"}
nonebot-adapter-onebot = "^2.0.0-beta.1"
nonebot-plugin-chatrecorder = "^0.1.5"
wordcloud = "^1.8.1"
jieba = "^0.42.1"
tzdata = "*"
"backports.zoneinfo" = {version = "^0.2.1", markers = "python_version < '3.9'" }
emoji = "^1.6.3"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
isort = "^5.10.1"
nonebug = "^0.2.1"
pytest-cov = "^3.0.0"
pytest-xdist = "^2.5.0"
pytest-mock = "^3.7.0"
pre-commit = "^2.17.0"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
