[tool.poetry]
name = "nonebot-plugin-wordcloud"
version = "0.7.2"
description = "适用于 NoneBot2 的词云插件"
authors = ["hemengyang <hmy0119@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/he0119/nonebot-plugin-wordcloud"
repository = "https://github.com/he0119/nonebot-plugin-wordcloud"
documentation = "https://github.com/he0119/nonebot-plugin-wordcloud#readme"

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = { version = "^2.2.0", extras = ["fastapi"] }
nonebot-plugin-apscheduler = ">=0.4.0,<2.0.0"
nonebot-plugin-localstore = ">=0.6.0,<2.0.0"
nonebot-plugin-orm = ">=0.7.0,<1.0.0"
nonebot-plugin-alconna = ">=0.38.0,<1.0.0"
nonebot-plugin-cesaa = ">=0.4.0,<2.0.0"
wordcloud = "^1.8.1"
jieba = "^0.42.1"
tzdata = "*"
emoji = ">=1.6.3,<3.0.0"

nonebot-plugin-datastore = { version = ">=1.2.0", optional = true }

[tool.poetry.group.dev.dependencies]
nb-cli = "^1.4.0"
nonebug = "^0.3.7"
nonebug-saa = "^0.4.1"
nonebot-adapter-onebot = "^2.2.4"
nonebot-plugin-orm = { extras = ["default"], version = ">=0.7.0" }
nonebot-plugin-datastore = "^1.2.0"
asyncpg = "*"
aiomysql = "*"
pytest-cov = ">=4,<6"
pytest-xdist = "^3.1.0"
pytest-mock = "^3.7.0"
pytest-asyncio = ">=0.21,<0.24"
respx = ">=0.20.2,<0.22.0"
httpx = ">=0.24.1,<0.28.0"
gevent = ">=23.7,<25.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.nonebot]
plugins = ["nonebot_plugin_wordcloud"]
adapters = [
  { name = "OneBot V12", module_name = "nonebot.adapters.onebot.v12", project_link = "nonebot-adapter-onebot", desc = "OneBot V12 协议" },
  { name = "OneBot V11", module_name = "nonebot.adapters.onebot.v11", project_link = "nonebot-adapter-onebot", desc = "OneBot V11 协议" },
]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.pyright]
pythonVersion = "3.9"
pythonPlatform = "All"
typeCheckingMode = "standard"
defineConstant = { PYDANTIC_V2 = true }

[tool.ruff]
line-length = 88
target-version = "py39"

[tool.ruff.lint]
select = [
  "W",   # pycodestyle warnings
  "E",   # pycodestyle errors
  "F",   # Pyflakes
  "UP",  # pyupgrade
  "C4",  # flake8-comprehensions
  "T10", # flake8-debugger
  "T20", # flake8-print
  "PYI", # flake8-pyi
  "PT",  # flake8-pytest-style
  "Q",   # flake8-quotes
]
ignore = [
  "E402",  # module-import-not-at-top-of-file, Module level import not at top of cell
  "UP037", # quoted-annotation,	Remove quotes from type annotation
]

[tool.coverage.run]
# https://github.com/nedbat/coveragepy/issues/1082
concurrency = ["thread", "gevent"]

[tool.coverage.report]
omit = ["*/compat.py", "*/migrations/*"]
